{% comment %} <h2>비밀번호 변경하기 </h2>
<form method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="변경하기">
</form> {% endcomment %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Interactive Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  
  
      <link rel="stylesheet" href="/static/css/signup.css">

  
</head>

<body>
    <div class="container">
    <div class="wrapper">
      <ul class="steps">
        <li class="is-active">Change Password</li>
        {% comment %} <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 6</li> {% endcomment %}
      </ul>
      <form class="form-wrapper" method="post">
 
        <fieldset class="section is-active">
          {% comment %} <h3>비밀번호를 입력하세요</h3> {% endcomment %}
          {% comment %} <input type="password" name="password" id="password" placeholder="Password">
          <input type="password" name="password2" id="password2" placeholder="Re-enter Password"> {% endcomment %}

            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input class="submit" type="submit" value="변경하기">
            </form>      

          {% comment %} <input class="submit button" type="submit" value="Sign Up"> {% endcomment %}
        </fieldset>
        {% comment %} <fieldset class="section is-active">
        <div style="color:#fff; text-align:center;">
            <h3>Account Created!</h3>
            <p>Your account has now been created.</p>
          <a href="/"><div class="button">메인으로 가기</div></a>
        </div>
        </fieldset>  {% endcomment %}

          
          
        
{% comment %}           
        <fieldset class="section">
          <h3>Account Created!</h3>
          <p>Your account has now been created.</p>
          <a href="#"><div class="button">ddd</div></a>
        </fieldset> {% endcomment %}
        </form>
        {% if message %}

        <script>
            alert('{{message}}');
        </script>>
        {% endif %}

    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/static/js/editpassword.js"></script>

</body>
</html>