{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="/static/css/myposts.css">

<div class="wrapper">
  <h2>내가 쓴 학교 리뷰</h2>
  <ol>
    {% for schoolreview in myschoolreview %}
        <li><a href="{% url 'schshow' schoolreview.id %}"> {{schoolreview.content}}</a>
        </li>
        <br>
    {% endfor %}
  </ol>
</div>

<br>
<br>

<div class="wrapper">
  <h2>내가 쓴 수업 리뷰</h2>
  <ol>
    {% for review in myreview %}
 
        <li><a href="{% url 'show' review.id %}">{{review.content}}</a></li>
        <br>
    {% endfor %}
  </ol>
</div>