{% comment %} <h2>회원가입</h2>
<br>
<form method="POST" action="" enctype="multipart/form-data">
    {%csrf_token%}

    {% for field in form %}
        {% if field == form.username %}
            {{field.label}} : <input type="text" name="username">
            <br><br>

        {% elif field == form.password %}
            {{field.label}} : <input type="password" name="password">
            <br><br>

        {% elif field == form.passwordCheck %}
            비밀번호 확인 : <input type="password" name="password">
            <br><br>

        {% elif field == form.email %}
            {{field.label}} : <input type="email" name="email">
            <br><br>    

        {% elif field == form.school %}
            {{field.label}} : <select name="school">
                {% for choice in field %}
                
                    <option>{{choice}}</option>
                
                {% endfor %}
            </select>
            <br><br>

        {% elif field == form.major %}
            {{field.label}} : <input type="text" name="major">
            <br><br>

        {% elif field == form.schoolId %}
            {{field.label}} : <input type="text" name="schoolId">
            <br><br>

        {% elif field == form.imgOfIdcard %}
            {{field.label}} : <input type="file" accept=".jpg, .png" name="imgOfIdcard">
            <br><br>

        {% elif field == form.interest %}
            {{field.label}} : <br>
            {% for choice in form.interest %}
                <input type="hidden" class="form-controls">{{choice}}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}
        <br>
        <br>
    <input type = "submit" value="회원가입">
</form> {% endcomment %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Interactive Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  
  
      <link rel="stylesheet" href="/static/css/signup.css">

  
</head>

<body>
    <div class="container">
    <div class="wrapper">
      <ul class="steps">
        <li class="is-active">Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
      </ul>
      <form class="form-wrapper" method="post" action="" enctype="multipart/form-data">
        {%csrf_token%}
    
        <fieldset class="section is-active">
          <h3>회원 가입</h3>
          
         {{form.username}}
         {{form.email}}
          
          <div class="button">Next</div>
        </fieldset>
         <fieldset class="section">
          <h3>재학 중인 대학교를 선택하세요!</h3>
           
          <div class="row cf">
           
                {{form.school}}
            
          </div>
          <div class="button">Next</div>
        </fieldset>
        <fieldset class="section">
          <h3>관심학교를 선택하세요!</h3>
          
         <div class="row cf">
            {{form.interest}}
          </div>
          <div class="button">Next</div>
        </fieldset>
        <fieldset class="section">
          <h3>학교 정보를 입력해주세요</h3>
          {{form.schoolId}}
          {{form.major}}
          {{form.imgOfIdcard}}
          
          <div class="button">Next</div>
        </fieldset>
        <fieldset class="section">
          <h3>비밀번호를 입력하세요</h3>
          {{form.password}}
          {{form.passwordCheck}}
          <!-- <input type="password" name="password2" id="password2" placeholder="Re-enter Password" />  -->

          <input class="submit" type="submit" value="회원가입" onclick="form.submit();" />
        </fieldset>
    </form>
    {% if message %}

        <script>
            alert('{{message}}');
        </script>>
    {% endif %}
      
    </div>
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/static/js/signup.js"></script>

</body>
</html>
