{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>학점교류 커뮤니티, 학교가자</title>
		<meta name="description" content="Blueprint: On Scroll Effect Layout" />
		<meta name="keywords" content="on scroll, effect, slide in, layout, template, transition, javascript" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
	 	<link rel="stylesheet" href="/static/css/nav.css?ver=1"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  
  		<script src="/static/js/modernizr.custom.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

		<link rel="stylesheet" type="text/css" href="/static/css/demo.css?ver=3" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css?ver=1" />
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
			
		

	</head>
	
	<body>
		<div class="container">
			<header class="clearfix">
				<span>학교가자 </span>
				<h1>학점교류 정보 공유 커뮤니티</h1>
			</header>	
			

			<div class="background">
			
			<div class="nh_nav-trigger">
				<span></span><span></span><span></span>
			</div>

			</div>
			<div class="menu">
			<ul>
				<li>
				<a href="/review/list">강의 리뷰</a>
				</li>
				<li>
				<a href="/schoolreview/reviewList">학교 리뷰</a>
				</li>
				<li>
				<a href="/recommend">강의 추천</a>
				</li>
				<li>
				<a href="/recommend/schoolfive">학교 추천</a>
				</li>
				<li>
				<a href="/contact/listmessage">받은 쪽지함</a>
				</li>
				<li>
				<a href="/membership/mypage">My page</a>
				</li>

			</ul>
			</div>
			
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>학교가자,<br>학점교류 가자!</h2>
                        <p>학점교류 정보교환 커뮤니티 학교가자</p>
						<p>[학점교류 : 교류수학 협정이 맺어진 타 대학(원)에서 수업을 수강하고 취득학점을 본교에서 인정받음으로써 학문의 다양성을 추구하는 제도]<br>
                        
                        </p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/images/logo.png" style="width:160%; height:auto;" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/images/review.png" style="width:160%; height:auto;" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>각 학교의 강의 리뷰</h2>
						<p>다른 학교 친구 없이도 어떤 수업을 피해야 할 지, 어떤 수업이 좋은 지 알 수 있는 각 학교별 강의 평가 정보를 볼 수 있어요!</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>학교 리뷰</h2>
						<p>해당 학교 학점교류 경험자의 생생한 학점교류 평가를 제공하여 교류학교 선택을 쉽게 할 수 있어요!</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/images/school.png" style="width:160%; height:auto;" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/images/recommend.png" style="width:160%; height:auto;" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>학교별 추천강의 Best 5</h2>
						<p>학교별로 가장 좋은 평가를 받은 수업을 한 눈에 볼 수 있도록 추천 강의 Top 5를 보여드릴게요!</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>학교별 학점교류 정보</h2>
						<p>학점교류생 이용 가능/불가능 시설, 참여 가능 동아리, 학점교류 성적 기준 등 학점교류생을 위한 다양한 정보를 드릴게요!</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/images/information.png" style="width:160%; height:auto;" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/images/message.png" style="width:160%; height:auto;" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>학교 간 커뮤니티</h2>
						<p>타학교 학생과 쪽지를 주고받으며 정보를 교환할 수 있고 관심학교를 지정하여 편하게 이용할 수 있어요!</p>
					</article>
				</section>
			</div>
		</div>

  		<script src="/static/js/nav.js"></script>
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>