{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>학점교류 커뮤니티, 학교가자</title>
		<meta name="description" content="Blueprint: On Scroll Effect Layout" />
		<meta name="keywords" content="on scroll, effect, slide in, layout, template, transition, javascript" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<span>학교가자 <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
				<h1>학점교류 정보 공유 커뮤니티</h1>

			</header>	
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>학교가자,<br>학점교류 가자!</h2>
                        <p>학점교류 정보교환 커뮤니티 학교가자</p>
						<p>[학점교류 : 교류수학 협정이 맺어진 타 대학(원)에서 수업을 수강하고 취득학점을 본교에서 인정받음으로써 학문의 다양성을 추구하는 제도]<br>
                        
                        </p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/images/logo.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/images/review.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>각 학교의 강의 리뷰</h2>
						<p>다른 학교 친구 없이도 어떤 수업을 피해야 할 지, 어떤 수업이 좋은 지 알 수 있는 각 학교별 강의 평가 정보 제공</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>학교 리뷰</h2>
						<p>해당 학교 학점교류 경험자의 생생한 학점교류 평가를 제공</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/images/3.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/images/4.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>학교별 추천강의 Best 5</h2>
						<p>학교별로 가장 좋은 평가를 받은 수업을 한 눈에 볼 수 있도록 추천 강의 Top 5 제공</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>학교별 학점교류 정보</h2>
						<p>학점교류생 이용 가능/불가능 시설, 참여 가능 동아리, 학점교류 성적 기준 등 학점교류생을 위한 정보 제공</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/images/5.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/images/6.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>차별화된 커뮤니티</h2>
						<p>관심학교 지정하여 쪽지를 주고 받거나 학교별 게시판을 통한 학점교류 커뮤니티</p>
					</article>
				</section>
			</div>
		</div>
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
