<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>학점교류 정보</title>
  <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic|Noto+Serif+KR|Yeon+Sung&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/css/sidemenu.css?ver=1">
 <link rel="stylesheet" href="/static/css/info.css?ver=3">
</head>



<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="/">Home</a>
  <a href="/review/list">강의 리뷰</a>
  <a href="/schoolreview/reviewList">학교 리뷰</a>	
  <a href="/recommend">강의 추천</a>		
  <a href="/recommend/schoolfive">학교 추천</a>	
  <a href="/home/info">학점교류 정보</a>
  <a href="/membership/mypage">My page</a>		
</div>

 <span style="font-size:30px; cursor:pointer; padding-left:3.5%; color:#7AC351;" onclick="openNav()">☰</span>

<div class="container">

<div data-tabs class="tabs">  


   <div class="tab">
      <input type="radio" name="tabgroup" id="tab-1" checked>
      <label for="tab-1">숙명여대</label>
      <div class="tab__content">
        <br>
         <p>
            <p id="subtitle">학점교류 자격</p>
            재학 중인 학부생 중 2개 학기 이상 이수완료(2학년 이상인 자)하고, 지원할 당시의 총 평점평균이 2.8/4.3 이상인 자<br>
            - 졸업예정자는 정규학기와 계절학기 모두 신청할 수 없고 학사편입생은 학점교류 불가함<br>
            - 일반편입생은 학점교류 신청은 가능하나, 본교에서의 이수학점이 교과구분별 졸업학점의 1/2이상이어야 학위취득이 가능한 것에 유의하여 신청<br>
            <br>
            <br>
            <p id="subtitle">수강신청학점</p>
            정규학기 : 학기당 학점교류 취득학점은 학번별 최대 이수학점 기준 이내이며, 각 교류대학별 수강 가능 학점 기준이 다를 수 있음<br>
            본교와 학점교류대학 교과목을 동시에 신청할 경우에는 수강신청 학점의 합이 학번별 학기당 최대 이수학점 기준 이내여야 함<br>
            계절학기 : 6학점 이내
            재학 중 졸업학점의 1/2범위 내에서 학점교류 취득학점이 인정됨<br>
            <br>
            <br>
            <p id="subtitle">학점교류 신청 방법</p> 
            학점교류 게시판에서 학교별 수강안내문 조회 (신청기간 및 신청방법이 학교마다 다르므로 유의해야 함)<br>
            수강 희망 대학의 홈페이지에서 개설교과목을 열람 후 수강 교과목 선정<br>
            숙명포털시스템 > 대외교류 > [국내 학점교류 신청] 메뉴에서 신청서 작성 후, 출력<br>
            출력한 [국내 학점교류 수강신청서]에 본인 서명 및 해당 학부(과)장 승인을 받아 학사팀에 제출함<br>
            교류대학에서 정한 기간 및 절차에 따라 학생이 직접 수강신청함 (대학에 따라 다를 수 있음)<br>
            학사팀에 학점교류 수강신청서 제출 후 수강정정 또는 취소할 경우에는 숙명포털시스템에서 학점교류신청내역을 변경하고 학점교류신청서를 재제출해야 함<br>
            <br>
            <br>
            <p id="subtitle">학점 인정</p>
            교류대학에서 수강한 과목은 교선핵심, 일반교양, 전공필수, 전공선택으로 인정받을 수 있음<br>
            전공 교과목 : 전필 및 전선으로 인정받기 위해서는 수강대학에서 전공으로 개설된 교과목에 한하며, 우리 대학 주관학과 주임교수 승인을 받아야만 인정됨<br>
            연계전공 교과목 : 연계전공 교과목으로 인정받기 위해서는 연계전공 주임교수의 승인을 받아야만 인정됨<br>
            교선핵심 교과목: 기초교양대학의 승인을 받아야만 인정됨<br>
            학점교류 과목은 교양필수 및 교직과목으로 인정받을 수 없음<br>
            복수전공, 부전공, 연계전공 교과목 인정은 전공선택이 되어있는 학생만 가능함<br>
            (전공선택 전에 학점교류로 이수한 과목을 전공선택 이후에 해당 전공과목으로 변경할 수 없음)<br>
            우리대학에서 수강한 과목과 동일한 과목은 학점교류 불가함<br>
            우리대학에서 수강한 과목은 학점교류로 재수강할 수 없으며, 학점교류로 이수한 과목 또한 우리대학에서 재수강하는 것이 불가함<br>
            (동일교로 다시 학점교류를 나가서 동일한 과목을 재수강 불가, 또한 과목명이 동일하더라도 본교에서 타학교 과목 재수강 불가함)<br>
            <br>
            <br>
            <p id="subtitle">성적 처리</p>
            과목별 취득 점수는 백분위 점수가 교류교로부터 오며, 본교 백분위 성적 환산기준에 의해 평점이 계산됨<br> 
            (학점교류 성적은 학기 및 누계성적에 산입하나 학기 석차에는 반영하지 않음)<br>
            학점교류교에서 취득한 성적은 본교 성적 확정후 3~4주 이후에 입력됨에 유의<br>
            <br>
            <br>
            <p id="subtitle">복지시설</p>
            http://www.sookmyung.ac.kr/sookmyungkr/1193/subview.do<br>
         </p>
        <br>
        <br>
      </div> 
   </div>



   <div class="tab">
      <input type="radio" name="tabgroup" id="tab-2">
      <label for="tab-2">서울대</label>
      <div class="tab__content">
    <br>
  
         <p>
        <p id="subtitle">본교 학생의 타 대학 수학</p>

        - 지원자격<br>
        본교 재학생으로서 타 대학에 수학하고자 하는 학생(이하 “지원자” 라 한다)은 학칙에 의거 징계받은 사실이 없는 자로서, 기 이수한 학기의 성적 평점평균이 학사과정은 2.7이상, 대학원과정은 3.3 이상인 자로 한다.<br>
        <br>
        <br>
        - 제출서류<br>
        ①수학신청원, 수학신청자 명단, 기타(타 대학 요청 서류)를 소속학과(부)장을 경유하여 대학(원)장에게 제출한다.<br>
        ②대학(원)별 교류수학 신청기한 및 제출서류 세부사항은 게시판 공지사항(학생)에 매 학기 공지한다.<br>
        <br>
        - 취득학점 및 수학기간<br>
        ①학기당 취득학점은 본교 취득학점을 포함하여 정규학기는 학사과정은 18학점, 대학원과정은 12학점 이내, 하계계절학기는 9학점, 동계계절학기는 6학점 이내를 원칙으로 한다. 수강신청 시 본교 및 타교 수강신청 학점의 총합은 본인의 수강신청 가능 학점을 초과할 수 없다.<br>
        ②수학기간 동안 취득학점은 계절학기 취득학점을 포함하여 소속대학(원)의 학위취득에 필요한 최저 소요학점의 2분의 1 이내로 한다.<br>
        ③정규학기의 수학기간은 학사과정 4개학기 석사과정과 박사과정은 2개학기 이내로 하며, 석◦박사통합과정은 4개학기 이내로 하는 것을 원칙으로 하되 세부사항은 따로 정하여 시행할 수 있다. 다만, 계절학기의 수학기간은 제한하지 아니한다.<br>
        <br>
        - 학점 인정<br>
        타 대학에서 수학 취득한 학점은 본교의 학칙 등 관련 규정의 범위 내에서 본교 학점으로 인정한다. 이수한 교과목의 성적은 취득한 성적 그대로 학적부에 등재하되, 평점평균 산출시에는 산입하지 아니한다. 다만, 교육과정을 공동으로 운영하거나 공동학위를 수여하는 대학에서 수학한 경우는 학점 및 평점을 인정한다. <br>
        <br>
        - 등록<br>
        정규학기 수학을 허가받은 학생은 수학기간 동안 본교에 소정의 등록금을 납입하고 등록하여야 한다. 계절학기 수학의 경우에는 수학대학에 등록금을 납입한다. <br>
        <br>
        - 수학신청의 취소<br>
        정규학기 수학신청의 취소를 원하는 학생은 수업주수 4분의 1선 이내에 수학신청 취소원을 본교에 제출하고 허가를 받아야 한다. <br>
        <br>
        <p id="subtitle">타 대학 학생의 본교 수학</p>
        - 지원 자격<br>
        본교에 수학하고자 하는 학생은 소속대학의 총장의 수학허가를 받은 자로 한다. 소속대학 총장은 수학지원자 명단과 수학신청원을 학기 개시 1개월 전까지 본교 총장에게 통보한다. 
        <br>
        - 수학 허가<br>
        본교 총장은 소정의 심사 절차를 거쳐 지원자의 수학허가 여부를 확정하고 학기개시(계절수업 개강) 2주 전까지 소속대학 총장에게 통보한다. 
        <br>
        - 정원<br>
        정규학기 수학 학생의 정원은 당해 학과(부) 신입생 정원의 10분의 1 이내로 하며 계절수업 수학 정원은 따로 정한다. <br>
        <br>
        - 등록금 및 수강료 등<br>
        ①정규학기 수학학생은 수학기간 중 소속대학에 등록금을 납입하고 등록하여야 한다.<br>
        ②수학에 필요하다고 인정할 경우 시설사용료, 실험실습비 등을 징수할 수 있으며 이에 관한 사항은 따로 정한다.<br>
        ③계절수업 수학 학생은 본교에 소정의 수강료를 납부하여야 한다.<br>
        <br>
        - 수강신청<br>
        <br>
        수강신청, 변경 및 취소는 본교가 정한 절차에 따른다. <br>
        ①수강신청방법 <br>
        -수강신청 사이트(http://sugang.snu.ac.kr)에 접속하여 수강신청 메뉴에서 직접 신청<br>
        (교류학생용으로 부여된 학번(ID), 초기 비밀번호로 로그인. 학번을 모를 경우 학번/비밀번호 찾기 메뉴에서 확인 가능)<br>
        ※예비수강신청 기간 및 수강신청 1,2일차에는 본교생만 사용 가능<br>
        ※학사과정생이 대학원 과정의 교과목을 수강하고자 할 경우, 해당 교과목 담당교수의 허가를 득한 후 수강신청을 하여야 함<br>
        ※정원이 초과된 강좌는 수강신청기간 마감 후 개설학과에 수강 가능여부를 문의한 뒤 수강신청정정요청서(초안지)를 작성하여 교과목 개설학과에 제출<br>
        -수강신청 가능 학점 수 : 원 소속대학 기준을 따름<br>
        ②수강 신청 변경 및 취소 <br>
        -서울대학교 포털 마이스누(http://my.snu.ac.kr) - 학사행정 – 수업 – 정규학기수강취소에서 취소하려는 과목을 선택하여 취소신청<br>
        -취소원을 출력하여 강의 담당 교수 또는 강사의 확인을 받은 후 교류학생이 배정받은 소속학과 사무실에 제출<br>
        ※과목변경, 휴학 및 수학포기 등 변동사항이 있을 경우 원 소속대학에 신고<br>
        <br>
        - 수학신청의 취소<br>
        수학신청의 취소를 원하는 학생은 소속대학에서 정한 절차에 따라 소속대학에 수학신청 취소원을 제출하고 허가를 받아야 한다. <br>
        <br>
        - 수학허가의 취소<br>
        수학허가를 받은 학생이 수학기간 중 본교의 학칙을 위반한 때에는 수학허가를 취소할 수 있다. <br>
        <br>
        - 취득학점의 처리<br>
        ①취득학점은 본교의 학칙 및 학업성적처리규정에 따라 처리하고 수학기간 종료 후 2주 이내에 소속대학 총장에게 통보한다.<br>
        ②전항의 취득학점에 대하여 성적증명서를 발급할 수 있다.<br>
        <br>
        <p id="subtitle">기타</p>

        ①학생증 발급 관련<br>
        - 두레문예관 학생지원센터(67동 3층)에서 학생증(S카드) 발급 후 도서관 등의 시설을 이용 가능<br>
        - 문의사항 발생시 연락처 : 학생지원과(02-880-5062)<br>
        ※ 학생지원센터 홈페이지(http://student.snu.ac.kr)의 S-CARD 메뉴 참조<br>
        ②기숙사 사용 관련 문의 : 관악학생생활관 행정실(02-880-5401~4)<br>
        <br>
        <p id="subtitle">국내교류대학</p>

        가천대학교 강원대학교 건국대학교 경북대학교<br>
        경상대학교 경찰대학 경희대학교 계명대학교<br>
        고려대학교 공주대학교 과학기술연합대학원대학교 <br>
        국방대학교 금오공과대학교 동국대학교 명지대대학원<br>
        부경대학교 부산대학교 서강대학교 성균관대학교<br>
        세종대학교 숙명여자대학교 순천대학교 아주대학교<br>
        연세대학교 울산대학교 울산과학기술원(UNIST) 이화여자대학교<br>
        인제대학교 인하대학교 전남대학교 전북대학교<br>
        제주대학교 중앙대학교 창원대학교 충남대학교<br>
        충북대학교 포항공과대학교 한국과학기술원(KAIST)<br>
        한국교원대학교 한국외국어대학교 한국학중앙연구원<br>
        한국항공대학교 한양대학교 홍익대학교<br>

        <br>
        <p id="subtitle">도서관</p>
        - 학술연구 등 개인적 방문<br>
        <br>
        도서관 내 면학 분위기 형성을 위해 만 19세 이상 출입 가능<br>
        중앙도서관 본관 2층 안내데스크에서 신분증 제출 후 도서관 일일출입증 수령<br>
        학내 구성원이 아닌 경우 본관 정보검색실 및 관정관 전체 출입 제한<br>

        - 도서관 일반 회원으로 가입 시<br>
        <br>
        이용범위 : 중앙도서관 3B열람실 이용 및 자료실 출입, 분관 열람실은 각 분관 정책에 따름<br>
        유효기간 : 발급 후 1년 (환불불가)<br>
        <br>
        - 이용가능 서비스<br>
        <br>
        도서대출 5책 14일<br>
        열람실 이용<br>
        발급비용<br>
        신규 및 연장 (일반회원 : 120,000원 / 관악구회원 : 80,000)<br>
        카드 재발급 비용 : 10,000원<br>
        발급 소요시간 : 신청 후 1일(단, 금요일 신청 시 다음 주 월요일 수령)<br>
        <br>
        - 출입증 수령<br>
        시간 : 평일(09:00 ~ 18:00)<br>
        장소 : 중앙도서관 본관 중앙대출실에서 수령(신청자가 신분증(주민등록증 등 국가인정신분증)을 소지하여 방문)<br>
        ※ 관악구 주민 확인 : 주민등록 초본ㆍ등본 방문 제출 및 FAX(871-9680) 전송 (연장신청인 경우에도 동일)<br>
        <br>
        - 비용 입금 계좌<br>
        은행명 : 신한은행<br>
        예금주 : 서울대학교 중앙도서관<br>
        입금계좌 : 100-030-609288<br>
        이용문의 : 중앙도서관 중앙대출실 880-5636<br>
        ※ 계좌입금 및 회원신청이 완료되면 담당자가 확인 후 승인 문자메시지를 보내드립니다.<br>
        <br>
        <p id="subtitle">편의시설</p>
        http://www.snu.ac.kr/students/facilities 
        <br>
        <br>
         </p>
      </div> 
   </div>


   <div class="tab">
      <input type="radio" name="tabgroup" id="tab-3">
      <label for="tab-3">산기대</label>
      <div class="tab__content">

         <p>
         <br>
            <p id="subtitle">교류대상</p>
            소속대학교 총장의 추천을 받은 자<br>
            <br>
            <p id="subtitle">지원자격</p>
            1학년 이상 수료하고 재학중인 자(학칙에 의거 징계 받은 사실이 없는 자)<br>
            <br>
            <p id="subtitle">교류학점</p>
            학기당 6학점 이내<br>
            * 단, 일부 전공, 교양 및 현장실습 등의 과목은 제외될 수 있어 사전 문의 필요(SDU 강좌 신청불가)<br>
            <br>
            <p id="subtitle">수강비용</p>
            정규학기의 경우 소속대학에 납부함<br>
            * 단, 학점교류 학생이 교류기간 동안 소요되는 개인 비용 일체는 본인 부담<br>
            <br>
            <p id="subtitle">본교 수업기간</p>
            2019. 9. 2 ~ 12. 24<br>
            <br>
            <p id="subtitle">본교 성적입력(확인)기간</p>
            2020. 1. 2 ~ 1. 6<br>
            * 성적마감처리 후, 1월 중순경 소속대학 공문 송부 예정<br>
            <br>
            <p id="subtitle">학점교류 접수기간</p>
            ㅇ 경인지역 타교학생 → 본교 교류신청 :  2019. 7. 24(수) ~ 7.30(화) 15:00까지<br>
                - 신청학생은 소속 대학에 지원서 제출, 소속대학에서 공문(추천서, 명단 포함)으로 신청<br>
            <br>
            <p id="subtitle">타교학생 학번부여 및 수강신청</p>
            접수완료 후, 신청학생에게 별도 안내<br>
            * 개설교과목은 본교 홈페이지 학사공지 “2019학년도 2학기 수강신청 안내” 참조(7월 말 공지예정)<br>
            <br>
            <p id="subtitle">유의사항</p>
            ㅇ 수강정정 및 취소할 경우 소속 대학에 변경내역을 통보해야함<br>
            ㅇ 학점교류 승인 및 소속대학에서의 성적인정에 관한 사항은 본인 소속대학에 문의바람<br>
            <br>
            <p id="subtitle">문의처</p>
            한국산업기술대학교 학사팀(행정동 2층) 031-8041-0024<br>

         </p>
      </div> 
   </div>


   <div class="tab">
      <input type="radio" name="tabgroup" id="tab-4">
      <label for="tab-4">성신여대</label>
      <div class="tab__content">
        <p>

            <br>
            <p id="subtitle">학점교류 대학교</p>
            KC대, 가톨릭대, 건국대, 고려대, 광운대 <br>
            국민대, 덕성여대, 동국대, 동덕여대, 명지대<br>
            삼육대, 상명대, 서경대, 서울과학기술대, 서울시립대<br>
            서울여대, 성공회대, 세종대, 숙명여대, 숭실대<br>
            연세대, 중앙대, 추계예술대, 한국외국어대<br>
            한성대, 홍익대(26개교)<br>
            <br>
            <p id="subtitle">지원자격</p>
            가. 1학년 이상을 수료한 자 (편입생은 1학기 이상 수료자)<br>
            나. 1학년(2학기) 이상을 수료한 자<br>
            다. 총 평점평균이 3.0 이상이며, 학칙에 의해 징계받은 사실이 없는 자<br>
            라. 4학년 졸업예정자(계절학기 학점교류만 불가) 및 휴학생은 제외<br>
            <br>
            <p id="subtitle">수강신청 가능학점</p>
            정규학기 및 계절학기 각 6학점 이내 <br>
            <br>
            <p id="subtitle">수강신청 방법</p>
            가. 성신포탈의 [수강→학점교류신청] 메뉴에서 온라인 신청 및 출력<br>
            나. 전공 및 교직으로 인정 받으려면 출력한 지원서에 해당 전공 학과장 및 연계전공 주임교수의 날인을 받아야 함<br>
            다. 신청기간 내 출력한 지원서를 학사지원팀(성신관 1층)에 제출<br>
            <br>
            <p id="subtitle">수강신청 기간</p>
            각 대학의 일정에 따라 다르며 성신포탈을 통해 해당 기간에 별도 공지 <br>
            <br>
            <p id="subtitle">유의사항</p>
            가. 신청기간을 엄수하기 바라며 신청기간 이후에는 접수 불가<br>
            나. 각 대학의 수강정원 및 수강제한으로 인하여 신청한 과목을 수강하지 못하는 경우도 발생할 수 있음<br>
            다. 각 대학별로 수강신청이 불가능한 과목이 있으니 반드시 확인 후 신청하시기 바람<br>
            라. 학점교류 추천 인원이 제한되어 있는 대학의 경우 별도의 선발과정(기준:총평점평균)을 거쳐 합격 및 불합격 여부를 개별 통보할 수 있음<br>
            마. 학점교류 신청 후 변경 사항이 있을 시에는 성신포탈의 [수강→학점교류과목변경및포기신청] 메뉴에서 변경 및 포기 신청을 하여야함<br>
            바. 학점교류대학에서 한 번 이수한 교과목을 동일 학점교류대학에서 다시 수강할 경우 재수강으로 처리되어 최종 성적 상한이 B+로 제한됨<br>
            사. 본교 또는 교류대학의 교과목을 다른 교류대학의 교과목으로 재수강 할 수 없음<br>
            아. 학점교류 과목의 이수구분은 해당 학기 이후에 변경할 수 없음<br>
            자. 학점교류 과목은 교직 기본이수과목, 융합대 기초전공과목, 융합전공과목으로 인정되지 않음<br>

            <br>
            <p id="subtitle">도서관</p>
            도서관 이용범위 : 자료실 이용가능, 도서대출 불가, 일반열람실 이용불가.<br>
            이용방법 : 본인 소속 대학의 학생증을 지참하고 도서관 대출데스크를 방문하여 도서관 이용신청서를 작성합니다. 도서관 이용기간은 수강기간입니다.<br>

            <br>
            <p id="subtitle">편의시설</p>
            http://www2.sungshin.ac.kr/main_kor/11093/subview.do (돈암수정) <br>
            http://www2.sungshin.ac.kr/main_kor/11095/subview.do (미아운정) <br>


        </p>
      </div> 
   </div>


    <div class="tab">
      <input type="radio" name="tabgroup" id="tab-5">
      <label for="tab-5">건국대</label>
      <div class="tab__content">
        <p>
        <br>
        <p id="subtitle">학점교류 절차</p>
        <img src="/static/images/order.png" width=700>
        <br>
        <br>
        <p id="subtitle">학점교류 안내</p>
        <img src="/static/images/kkuinfo.png" width=700>
        <br>
        <br>
        <p id="subtitle">도서관</p>
        도서관 1층 대출실 안내창구에서 신분증을 제시하고 방명록을 작성한 후 도서관 자료실을 이용할 수 있습니다.<br>
        자료대출은 불가하며 관내에서 열람만 가능합니다.<br>
        열람실 이용은 불가합니다.<br>
        <br>
        <img src="/static/images/kkulib.png" width=700>
        <br>
        <br>
        <p id="subtitle">복지시설</p>
        http://www.konkuk.ac.kr/jsp/Life/life_01_tab01.jsp
        </p>
        
      </div> 
   </div>


</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script src="/static/js/sidemenu.js"></script>
    <script src="/static/js/info.js"></script>

</body>
</html>
