 {% comment %} <ul>
   New Messages: <br>
    {% for new in rlist %}

        {% if not new.isRead %}
            <li>보낸 이: {{ new.sender }}, 내용: 
                <a href="{% url 'viewMessage' new.id %}">{{ new.content }} 
                <br>
                </a></li><br>
        {% endif %}
    {% endfor %} {% endcomment %}

    {% comment %} Read Messages: <br>
    {% for new in rlist %}
        {% if new.isRead %}
            <li>보낸 이: {{ new.sender }}, 내용: <a href="{% url 'viewMessage' new.id %}">{{ new.content }} 
                <br>
            </a></li><br>
        {% endif %}
    {% endfor %}

    Send Messages: <br>
    {% for send in slist %}
        <li>받은 사람: {{ send.recipient }}, 내용: <a href="{% url 'viewMessage' send.id %}">{{ send.content }}<br></a>
            </li><br>
    {% endfor %}
</ul> {% endcomment %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel="stylesheet" href="/static/css/list.css?ver=2">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
<div onclick="location.href='/'";>
    <img src="/static/images/title2.png" style="width:150px; height:auto; margin-left:2%; padding-top: 2%;" />
</div>
 <a href="{% url 'sendMessage' %}">쪽지 보내기</a>
<!-- partial:index.partial.html -->
<section id="container">

  <!-- MESSAGES LIST -->
	<aside id="links" class="links-open">
		<ol>
			<h1>Newer</h1>
            {% for new in rlist %}
                {% if not new.isRead %}
                    <li class="latest">
                        <a href="{% url 'viewMessage' new.id %}">
                        <h3>보낸 사람 {{ new.sender }}</h3>
                        <p>
                        {{ new.content }} 
                        <br>
                        </a></p>
                    </li>
                {% endif %}
            {% endfor %}

            <h2>Older</h2>
            {% for new in rlist %}
                {% if new.isRead %}
                    
                    <li>
                        <a href="{% url 'viewMessage' new.id %}">
                        <h3>보낸 사람 {{ new.sender }}</h3>
                        <p>{{ new.content }} 
                        <br>
                        </a></p>
                    </li>
                {% endif %}
            {% endfor %}
		</ol>
	</aside>
   
  <!-- DROPDOWN -->

  <!-- HEADER -->
	<header id="header">
		<button type="button" id="back" class="button" name="back"><span></span></button>
        
		<h1>Message</h1>
        
		<button type="button" id="edit" class="button" name="edit"><span></span></button>
	</header>
  <!-- FOOTER -->
	<footer id="footer">
		<button type="button" id="camera" name="camera"><span><sub></sub><p></p></span></button>
		<input type="text" id="message" name="message" placeholder="Message" />
		<button type="button" id="send" name="send"><span></span></button>
	</footer>
     
</section>

<aside id="flash"></aside>
<!-- partial -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="/static/js/script.js"></script>

</body>
</html>