<form method='POST'>
    <input type="hidden" name="csrfmiddlewaretoken" value="LGvjDzJ5ADsLT5gm0GvhJBC03SaImUsPnUSE6U7z1NdNOVttyVRufEfoplDz1bL1">
    <div class='container'>

        <tr>
        <th><label for="id_school">학교명:</label></th>
        <td><select name="school" id="id_school">
            <option value="숙명여자대학교" selected>숙명여자대학교</option>
            <option value="성신여자대학교">성신여자대학교</option>
            <option value="서울대학교">서울대학교</option>
            <option value="한국산업기술대학교">한국산업기술대학교</option>
            <option value="건국대학교">건국대학교</option>
        </select></td>
        </tr>

        <tr>
        <th><label for="id_schoolyear">수강년도:</label></th>
        <td><select name="schoolyear" id="id_schoolyear">
            <option value="2018">2018</option>
            <option value="2019" selected>2019</option>
        </select></td>
        </tr>

        <tr>
        <th><label for="id_schoolsemester">수강학기:</label></th>
        <td><select name="schoolsemester" id="id_schoolsemester">
            <option value="1학기" selected>1학기</option>
            <option value="여름학기">여름학기</option>
            <option value="2학기">2학기</option>
            <option value="겨울학기">겨울학기</option>
        </select></td>
        </tr>

        <tr>
        <th><label for="id_content">Content:</label></th>
        <td><textarea name="content" cols="40" rows="5" class="form-control" id="id_content"></textarea></td>
        </tr>
        
        <br/>
        <input type='submit' class='btn btn-primary btn-block' value='수정'>
    </div>
</form>

{% comment %} <form method='POST'>
    {% csrf_token %}
    <div class='container'>
        {{form}}
        <input type="submit" value="수정">
    <br>
    </div>
</form> {% endcomment %}