<!DOCTYPE html>
<html lang="en" >
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Horizontal Media Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/test.css" />
</head>
<br>
<br>
<br>

<div class="comment-container theme--light">
  <div class="comments" >
    <div class="card v-card v-sheet theme--light elevation-2" ><span class="headline" >Leave a comment</span>
      <div class="sign-in-wrapper" >
        <p class="caption disclaimer" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida lacinia faucibus. Sed tincidunt ex sem, non gravida odio fermentum sit amet.</p>
        <p class="error-message" ></p>
      </div>
      <!---->
    </div>
    <div  >
      <div  class="card v-card v-sheet theme--light elevation-2">
        <div  class="header">
          <div  class="v-avatar avatar" style="height: 50px; width: 50px;"><img  src="https://images.unsplash.com/photo-1490894641324-cfac2f5cd077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&q=70"></div>
          <span  class="displayName title">John Doe</span> <span  class="displayName caption">2 days ago</span></div>
        <!---->
        <div  class="wrapper comment">
          <p>Fusce sodales magna id porta egestas. Nulla massa est, hendrerit nec auctor vitae, porta ut est.</p>
        </div>
        <div  class="actions">
          <!---->
          <!---->
          <!---->
        </div>
        <div  class="v-dialog__container" style="display: block;"></div>
      </div>
      <!---->
      <div  class="answers">
        <!---->
      </div>
    </div>
    <div  >
      <div  class="card v-card v-sheet theme--light elevation-2">
        <div  class="header">
          <div  class="v-avatar avatar" style="height: 50px; width: 50px;"><img  src="https://images.unsplash.com/photo-1476657680631-c07285ff2581?ixlib=rb-1.2.1&auto=format&fit=crop&w=100&q=70"></div>
          <span  class="displayName title">Albert Arja</span> <span  class="displayName caption">15 days ago</span></div>
        <!---->
        <div  class="wrapper comment">
          <p>Fusce sodales magna id porta egestas. Nulla massa est, hendrerit nec auctor vitae, porta ut est.</p>
          <p>Thanks You.</p>
        </div>
        <div  class="actions">
          <!---->
          <!---->
          <!---->
        </div>
        <div  class="v-dialog__container" style="display: block;"></div>
      </div>
      <!---->
      <div  class="answers">
        <!---->
      </div>
    </div>
    <div  >
      <div  class="card v-card v-sheet theme--light elevation-2">
        <div  class="head er">
          <div  class="v-avatar avatar" style="height: 50px; width: 50px;"><img  src="https://images.unsplash.com/photo-1490894641324-cfac2f5cd077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&q=70"></div>
          <span  class="displayName title">Robert</span> <span  class="displayName caption">2 months ago</span></div>
        <!---->
        <div  class="wrapper comment">
          <p>Fusce sodales magna id porta egestas. Nulla massa est, hendrerit nec auctor vitae, porta ut est. </p>
          <p>Fusce sodales magna id porta egestas. Nulla massa est, hendrerit nec auctor vitae, porta ut est.</p>
        </div>
        <div  class="actions">
          <!---->
          <!---->
          <!---->
        </div>
        <div  class="v-dialog__container" style="display: block;"></div>
      </div>
      <!---->
      <div  class="answers">
        <!---->
      </div>
    </div>
  </div>
</div>

</html>