<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>강의 리뷰 수정</title>
  <link rel="stylesheet" href="/static/css/write.css?ver=1">
</head>
<br>

<div class="container">
    <form id="add_form" class="fiform" novalidate autocomplete="off" method='POST'>
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
       
            <div class="form-item">
            
                {{form.as_p}}
         
            </div>
        {% comment %} <div class="form-item">
            
            <div class="select">
                {{field.univ}}
            </div>
        </div>
        <div class="form-item">
                {{field.coursename}}
        </div>
        <div class="form-item">
                {{field.prof}}
        </div>
        <div class="form-item">
            <div class="select">
                {{field.courseyear}}
            </div>
        </div>
        <div class="form-item">
            <div class="select">
                {{field.coursesemester}}
            </div> 
        </div>
        <div class="form-item">
             <textarea id="textarea" class="field" name="textarea">
                {{field.content}}
             </textarea>   
        </div>
        <div class="form-item">
            <div class="select">
                {{field.assignment}}
            </div> 
        </div>
        <div class="form-item">
            <div class="select">
                {{field.test}}
            </div> 
        </div>
        <div class="form-item">
             <div class="select">
                {{field.attendance}}
            </div> 
        </div>
        <div class="form-item">
            <div class="radio">
                {{field.star}}
            </div>
        </div> {% endcomment %}
        

        <div class="form-item">
            <button type="submit" class="btn" value="수정" style="margin-left: 40%; margin-right: 50%;">Submit</button>
        </div>

    </form> 
</div>
{% comment %} <script  src="/static/js/script.js"></script> {% endcomment %}

</body>
</html>